# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Environment variables
.env

# FastAPI / Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter
.ipynb_checkpoints

# SQLite (caso use)
*.db
*.sqlite3

# Uvicorn
*.pid

# PyCharm
.idea/

# Temporary files
*.tmp
*.temp